<!DOCTYPE html>
<html>
<head>
    <title>Project List</title>
</head>
<body>
    <h1>Project List</h1>
    <a href="{% url 'project_create' %}">Add Project</a>
    <ul>
        {% for project in projects %}
        <li>
            {{ project.name }} - {{ project.description }} - {{ project.start_date }} to {{ project.end_date }}
            <a href="{% url 'project_update' project.pk %}">Edit</a>
            <a href="{% url 'project_delete' project.pk %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
